.prepare-contanier {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  color: #fff;
}

.prepare-contanier .cover-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* global css in App.css */

@media screen and (max-width: 768px) {
  .prepare-contanier .cover-img {
    height: 200px;
  }
}