footer{
    width: 100%;
    position: relative;
}

.media-box {
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background: #042243;
    color:#fff;
    padding: 14px 16px;
}

.media-box a{
    text-decoration: none;

}

.media-box span{}