@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Noto+Sans+TC:wght@100..900&family=Workbench&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Micro 5", sans-serif, "Zen Old Mincho", cursive;
    font-optical-sizing: auto;
    font-size: 2.5rem;
    font-weight: 300;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

h1 {
    font-size: 50px;
    font-weight: 400;
}

h2 {
    font-size: 40px;
    font-weight: 200;
}

h3 {
    font-size: 30px;
    font-weight: 100;
}

h4 {
    font-size: 20px;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}