@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
    background: linear-gradient(to top, rgb(37, 29, 55, 1), rgba(31, 24, 56, 1), rgba(0, 0, 0, 1));
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    /* font-family: 'PT Sans', sans-serif, 'Noto Serif JP', 'Noto Serif TC', serif; */
    font-family: 'Noto Serif JP', 'Noto Serif TC', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

h1 {
    font-size: 50px;
    font-weight: 400;
}

h2 {
    font-size: 40px;
    font-weight: 200;
}

h3 {
    font-size: 30px;
    font-weight: 100;
}

h4 {
    font-size: 20px;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}